---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Service from "../components/Service.astro";
import About from "../components/About.astro";
import Special_Dish from "../components/Special_Dish.astro";
import Menu from "../components/Menu.astro";
import Testimonials from "../components/Testimonials.astro";
import Reservation from "../components/Reservation.astro";
import Features from "../components/Features.astro";
import Event from "../components/Event.astro";
---

<Layout>
  <main>
    <article>
    
      <Hero />

      <Service />

      <About />

      <Special_Dish />

      <Menu />

      <Testimonials />

      <Reservation />

      <Features />

      <Event />

    </article>
  </main>
</Layout>
