<section class="section event bg-black-10" aria-label="event">
        <div class="container">
          <p class="section-subtitle label-2 text-center">O que vem por ai</p>

          <h2 class="section-title headline-1 text-center">Novos Produtos</h2>

          <ul class="grid-list">
            <li>
              <div class="event-card has-before hover:shine">
                <div
                  class="card-banner img-holder"
                  style="--width: 350; --height: 450;"
                >
                  <img
                    src="/assets/images/event-1.jpg"
                    width="350"
                    height="450"
                    loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes."
                    class="img-cover"
                  />

                  <time class="publish-date label-2" datetime="2024-07-15"
                    >15/07/2024</time
                  >
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">
                    Tabuleiro de Xadrez em Resina
                  </p>

                  <h3 class="card-title title-2 text-center">
                    Descubra nosso tabuleiro de xadrez em resina personalizado:
                    design exclusivo e durabilidade para partidas inesquecíveis.
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">
                <div
                  class="card-banner img-holder"
                  style="--width: 350; --height: 450;"
                >
                  <img
                    src="/assets/images/event-2.jpg"
                    width="350"
                    height="450"
                    loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes."
                    class="img-cover"
                  />

                  <time class="publish-date label-2" datetime="2024-08-20"
                    >20/08/2024</time
                  >
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">
                    Novos Mapas e Campanhas
                  </p>

                  <h3 class="card-title title-2 text-center">
                    Explore nossos novos mapas e campanhas de RPG: aventuras
                    únicas e imersivas esperam por você!
                  </h3>
                </div>
              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">
                <div
                  class="card-banner img-holder"
                  style="--width: 350; --height: 450;"
                >
                  <img
                    src="/assets/images/event-3.jpg"
                    width="350"
                    height="450"
                    loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes."
                    class="img-cover"
                  />

                  <time class="publish-date label-2" datetime="2024-09-25"
                    >25/09/2024</time
                  >
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">
                    Novo Drop Senhor dos Anéis
                  </p>

                  <h3 class="card-title title-2 text-center">
                    Conheça nossa coleção de itens de Senhor dos Anéis: traga a
                    magia da Terra Média para sua casa!
                  </h3>
                </div>
              </div>
            </li>
          </ul>

          <a href="#" class="btn btn-primary">
            <span class="text text-1">Newsletter</span>

            <span class="text text-2" aria-hidden="true">Newsletter</span>
          </a>
        </div>
      </section>