---
import "../styles/Features.css";
---

<section class="section features text-center" aria-label="features">
  <div class="container">
    <p class="section-subtitle label-2">Por que escolher a Forja?</p>

    <h2 class="headline-1 section-title">Nossa Força</h2>

    <ul class="grid-list">
      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="/assets/images/features-icon-1.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Materiais de Qualidade</h3>

          <p class="label-1 card-text">
            Na Forja do Dragão, garantimos que cada produto é feito com
            materiais de qualidade superior, assegurando durabilidade e
            excelência. Nossa dedicação à qualidade reflete-se em cada detalhe.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="/assets/images/features-icon-2.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Time Especializado</h3>

          <p class="label-1 card-text">
            Nossa equipe é especializada e apaixonada pelo que faz, dedicando-se
            com excelência para oferecer os melhores produtos e serviços. Conte
            com a gente para transformar suas ideias em realidade.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="/assets/images/features-icon-3.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Certificado de Autenticidade</h3>

          <p class="label-1 card-text">
            Todos os nossos produtos acompanham Certificado de Autenticidade.
          </p>
        </div>
      </li>

      <li class="feature-item">
        <div class="feature-card">
          <div class="card-icon">
            <img
              src="/assets/images/features-icon-4.png"
              width="100"
              height="80"
              loading="lazy"
              alt="icon"
            />
          </div>

          <h3 class="title-2 card-title">Amor Acima de Tudo</h3>

          <p class="label-1 card-text">
            Tudo o que fazemos é com amor e carinho a nossa cultura.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
