---
import "../styles/Reservation.css";
---

<section class="reservation">
        <div class="container">
          <div class="form reservation-form bg-black-10">
            <form action="" class="form-left">
              <h2 class="headline-1 text-center">Fale com a Gente</h2>

              <p class="form-text text-center">
                Mande suas dúvidas ou encomendas pra gente via <a
                  href="mailto:forjadodragaoadm@gmail.com"
                  class="link">forjadodragaoadm@gmail.com</a
                >
                ou preencha o formulário abaixo.
              </p>

              <div class="input-wrapper">
                <input
                  type="text"
                  name="name"
                  placeholder="Nome Completo"
                  autocomplete="off"
                  class="input-field"
                />

                <input
                  type="tel"
                  name="phone"
                  placeholder="Telefone para Contato"
                  autocomplete="off"
                  class="input-field"
                />
              </div>

              <div class="input-wrapper">
                <div class="icon-wrapper">
                  <ion-icon name="cube-outline"></ion-icon>

                  <select name="person" class="input-field">
                    <option value="Encomendas">Encomendas</option>
                    <option value="Dúvidas">Dúvidas</option>
                    <option value="Trocas e Devoluções"
                      >Trocas e Devoluções</option
                    >
                    <option value="Garantia de Qualidade"
                      >Garantia de Qualidade</option
                    >
                    <option value="Outros">Outros</option>
                  </select>

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>

                <div class="icon-wrapper">
                  <ion-icon name="calendar-outline"></ion-icon>

                  <input
                    type="date"
                    name="reservation-date"
                    class="input-field"
                  />

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>

                <div class="icon-wrapper">
                  <ion-icon name="extension-puzzle-outline"></ion-icon>

                  <select name="person" class="input-field">
                    <option value="Impressão 3D">Impressão 3D</option>
                    <option value="Mapas Personalizados"
                      >Mapas Personalizados</option
                    >
                    <option value="Dados">Dados de Resina</option>
                    <option value="Outros">Outros</option>
                  </select>

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>
              </div>

              <textarea
                name="mensagem"
                placeholder="Mensagem"
                autocomplete="off"
                class="input-field"></textarea>

              <button type="submit" class="btn btn-secondary">
                <span class="text text-1">Enviar</span>

                <span class="text text-2" aria-hidden="true">Enviar</span>
              </button>
            </form>

            <div
              class="form-right text-center"
              style="background-image: url('/assets/images/form-pattern.png')"
            >
              <h2 class="headline-1 text-center">Agradecemos a Preferência</h2>

              <p class="contact-label">Telefone para Contato</p>

              <a
                href="tel:+88123123456"
                class="body-1 contact-number hover-underline">+88-123-123456</a
              >

              <div class="separator"></div>

              <p class="contact-label">Localização</p>

              <address class="body-4">
                Batcavera, Campinas, <br />
                São Paulo, BR
              </address>

              <p class="contact-label">Horário de Funcionamento</p>

              <p class="body-4">
                Segunda a Sexta<br />
                8:00 - 22:00
              </p>

              <p class="body-4">
                Sábado <br />
                8:00 - 12:00
              </p>
            </div>
          </div>
        </div>
      </section>