---
import "../styles/Service.css";
---

<section
        class="section service bg-black-10 text-center"
        aria-label="service"
      >
        <div class="container">
          <p class="section-subtitle label-2">
            Onde imaginação e tecnologia se encontram!
          </p>

          <h2 class="headline-1 section-title">Impressão 3D</h2>

          <p class="section-text">
            Nossas peças são meticulosamente detalhadas e personalizáveis,
            permitindo que você possua uma peça única e exclusiva de seus
            personagens favoritos. Seja um herói, vilão ou criatura mítica,
            nossas impressões 3D capturam cada detalhe com precisão.
          </p>

          <ul class="grid-list">
            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 285; --height: 336;"
                  >
                    <img
                      src="/assets/images/service-1.jpg"
                      width="285"
                      height="336"
                      loading="lazy"
                      alt="Breakfast"
                      class="img-cover"
                    />
                  </figure>
                </a>

                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">Action Figures</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2"
                    >Veja Nosso Catálogo</a
                  >
                </div>
              </div>
            </li>

            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 285; --height: 336;"
                  >
                    <img
                      src="/assets/images/service-2.jpg"
                      width="285"
                      height="336"
                      loading="lazy"
                      alt="Appetizers"
                      class="img-cover"
                    />
                  </figure>
                </a>

                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">Miniaturas</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2"
                    >Veja Nosso Catálogo</a
                  >
                </div>
              </div>
            </li>

            <li>
              <div class="service-card">
                <a href="#" class="has-before hover:shine">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 285; --height: 336;"
                  >
                    <img
                      src="/assets/images/service-3.jpg"
                      width="285"
                      height="336"
                      loading="lazy"
                      alt="Drinks"
                      class="img-cover"
                    />
                  </figure>
                </a>

                <div class="card-content">
                  <h3 class="title-4 card-title">
                    <a href="#">Personalizados</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2"
                    >Veja Nosso Catálogo</a
                  >
                </div>
              </div>
            </li>
          </ul>

          <img
            src="/assets/images/shape-1.png"
            width="246"
            height="412"
            loading="lazy"
            alt="shape"
            class="shape shape-1 move-anim"
          />
          <img
            src="/assets/images/shape-2.png"
            width="343"
            height="345"
            loading="lazy"
            alt="shape"
            class="shape shape-2 move-anim"
          />
        </div>
      </section>