<section class="special-dish text-center" aria-labelledby="dish-label">
        <div class="special-dish-banner">
          <img
            src="/assets/images/special-dish-banner.jpg"
            width="940"
            height="900"
            loading="lazy"
            alt="special dish"
            class="img-cover"
          />
        </div>

        <div class="special-dish-content bg-black-10">
          <div class="container">
            <img
              src="/assets/images/badge-1.png"
              width="28"
              height="41"
              loading="lazy"
              alt="badge"
              class="abs-img"
            />

            <p class="section-subtitle label-2">Personalização</p>

            <h2 class="headline-1 section-title">Sua Paixão Fora dos Games</h2>

            <p class="section-text">
              Na Forja do Dragão, oferecemos a possibilidade de personalização
              de artigos de decoração. Trazemos seus personagens preferidos para
              a realidade, transformando cada peça em algo único e especial para
              os verdadeiros fãs.
            </p>

            <div class="wrapper">
              <span class="span body-1">Faça já seu orçamento!</span>
            </div>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">Catálogo</span>

              <span class="text text-2" aria-hidden="true">Catálogo</span>
            </a>
          </div>
        </div>

        <img
          src="/assets/images/shape-4.png"
          width="179"
          height="359"
          loading="lazy"
          alt=""
          class="shape shape-1"
        />

        <img
          src="/assets/images/shape-9.png"
          width="351"
          height="462"
          loading="lazy"
          alt=""
          class="shape shape-2"
        />
      </section>