<section
        class="section testi text-center has-bg-image"
        style="background-image: url('/assets/images/testimonial-bg.jpg')"
        aria-label="testimonials"
      >
        <div class="container">
          <div class="quote">”</div>

          <p class="headline-2 testi-text">
            “Existe uma teoria que diz que, se um dia alguém descobrir
            exatamente para que serve o Universo e por que ele está aqui, ele
            desaparecerá instantaneamente e será substituído por algo ainda mais
            estranho e inexplicável. Existe uma segunda teoria que diz que isso
            já aconteceu.” <br /> - Douglas Adams, O Guia do Mochileiro das Galáxias.
          </p>

          <div class="wrapper">
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="separator"></div>
          </div>

          <div class="profile">
            <img
              src="/assets/images/testi-avatar.jpg"
              width="100"
              height="100"
              loading="lazy"
              alt="Sam Jhonson"
              class="img"
            />

            <p class="label-2 profile-name">
              Giovanna Tahara - Fundadora Forja do Dragão
            </p>
          </div>
        </div>
      </section>